<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap demo</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<ul class="nav">
			<li class="nav-item"><a class="nav-link active"
				aria-current="page" href="dashboard">View Dashboard</a></li>
			<li class="nav-item"><a class="nav-link" href="enquiry">Add
					Enquiry</a></li>
			<li class="nav-item"><a class="nav-link" href="view-enquiries">View
					Enquiries</a></li>
			<li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>

		</ul>
		<hr />
		<h1>View Enquiries Here</h1>
		<form th:action="@{/filter-enqs}" th:object="${viewEnqFilter}"
			method="post">

			<table>
				<tr>
					<td>Class Mode :</td>
					<td><select th:field="*{classMode}">
							<option value="">-Select-</option>
							<option value="Online">Online</option>
							<option value="Clasroom">Classroom</option>
					</select></td>

					<td>Course Name :</td>
					<td><select th:field="*{courseName}">
							<option value="">-Select-</option>
							<option value="Java">Java</option>
							<option value="Python">Python</option>
							<option value="DevOps">DevOps</option>
							<option value="AWS">AWS</option>

					</select></td>


					<td>Enquiry Status:</td>

					<td><select th:field="*{enqStatus}">
							<option value="">-Select-</option>
							<option value="Open">Open</option>
							<option value="Enrolled">Enrolled</option>
							<option value="Lost">Lost</option>
					</select></td>


					<td><input type="submit" value="Search"
						class="btn btn-primary"></td>
				</tr>




			</table>


		</form>



		<div class="table-responsive">
			<table class="table table-bordered table-hover ">
				<thead class="table-dark">

					<th>Name</th>
					<th>Course</th>
					<th>Mode</th>
					<th>Phno</th>
					<th>Status</th>
					<th>Edit</th>

				</thead>
				<tbody>
					<tr th:each="enq, loopCounter:${enquiries}">
						<td th:text="${loopCounter.index+1}"></td>
						<td th:text="${enq.stuName}"></td>
						<td th:text="${enq.courseName}"></td>
						<td th:text="${enq.classMode}"></td>
						<td th:text="${enq.studentPhno}"></td>
						<td th:text="${enq.enqStatus}"></td>



						<td><a
							th:href="
						@{'/editEnq?enqId='+${enq.enq_id}}
						">Edit</a></td>
					</tr>

					<tr th:if="${enquiries.size()==0}">
						<td>No records Found</td>

					</tr>
				</tbody>


			</table>

		</div>





	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
		crossorigin="anonymous"></script>
</body>
</html>